<div class="text-center p-4 bg-dark">
    <h2 class="h2 mb-4 text-white">Signos Zodiacales</h2>
    <div class="row justify-content-center">

        <div class="card m-3" style="max-width: 300px;" *ngFor="let s of signos">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="assets/images/{{s.img}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8 d-flex justify-content-center align-items-center">
                    <h3>{{s.nombre}}</h3>
                </div>
            </div>
            <div class="card-footer">
                <button (click)="mostrarHoroscopo(s.nombre,'today')" type="button" class="btn btn-warning m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Horoscopo de Hoy
                </button>
                <button (click)="mostrarHoroscopo(s.nombre,'monthly')" type="button" class="btn btn-warning m-1" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Horoscopo del Mes
                </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Horoscopo de <label class="fw-bold">{{horoscopo.signo | uppercase}}  </label></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 bg-secondary">
                                    <h2 class="bg-primary text-white border-2">{{horoscopo.periodo}}</h2>
                                </div>
                                <div class="col-12 bg-warning">
                                    <h5 class="p-2">{{horoscopo.descripcion}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>



    </div>
</div>